<section class="about_us" id="aboutus">
  <div class="about_us-container">
    <div class="about_us-wrap">
      <div class="about_us-right">
        <h2 class="about_us-title">About us</h2>
        <h3 class="about_us-subtitle">
          Our сraftsmanship: сreating unique handmade furniture
        </h3>
        <p class="about_us-description">
          Discover the inspiration behind our modern and minimalist designs, and
          see how we bring them to life through our skilled craftsmanship.
        </p>
        <ul class="about_us-advantages-list">
          <li class="about_us-advantages-item">
            <p class="about_us-item-title">5+</p>
            <p class="about_us-item-descrip">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li class="about_us-advantages-item">
            <p class="about_us-item-title">100%</p>
            <p class="about_us-item-descrip">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li class="about_us-advantages-item">
            <p class="about_us-item-title">500+</p>
            <p class="about_us-item-descrip">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </div>
      <div class="about_us-left">
        <picture>
          <source
            srcset="
              ./img/aboutus/about_us-img-desktop.jpg    1x,
              ./img/aboutus/about_us-img-desktop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/aboutus/about_us-img-tablet.jpg    1x,
              ./img/aboutus/about_us-img-tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/aboutus/about_us-img-mobile.jpg    1x,
              ./img/aboutus/about_us-img-mobile@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./img/aboutus/about_us-img-tablet.jpg"
            alt="interior"
            width="704"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
