<section>
  <div class="bestsellers-main">
    <h2 class="bestsellers-title">bestsellers</h2>
    <div class="best-box">
      <div class="bestsellers-1">
        <picture>
          <source
            srcset="
              /img/bestsellers/bestsellers-1-desk-1x.jpg 1x,
              /img/bestsellers/bestsellers-1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/bestsellers/bestsellers-1-tab-1x.jpg 1x,
              /img/bestsellers/bestsellers-1-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/bestsellers/bestsellers-1-mob-1x.jpg 1x,
              /img/bestsellers/bestsellers-1-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="best-1-img"
            src="/img/bestsellers/bestsellers-1-desk-1x.jpg"
            alt="furniture"
          />
        </picture>
        <p class="bestsellers-1-text">The modern platform bed</p>
        <p class="bestsellers-1-prices">750$</p>
      </div>

      <ul class="bestsellers-list list">
        <li class="bestsellers-item bestsellers-2">
          <picture>
            <source
              srcset="
                /img/bestsellers/bestsellers-2-desk-1x.jpg 1x,
                /img/bestsellers/bestsellers-2-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/bestsellers/bestsellers-2-tab-1x.jpg 1x,
                /img/bestsellers/bestsellers-2-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/bestsellers/bestsellers-2-mob-1x.jpg 1x,
                /img/bestsellers/bestsellers-2-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/bestsellers/bestsellers-2-desk-1x.jpg"
              alt="furniture"
            />
          </picture>
          <p class="bestsellers-text">The Cozy Lounge Chair</p>
          <p class="bestsellers-prices">230$</p>
        </li>
        <li class="bestsellers-item bestsellers-3">
          <picture>
            <source
              srcset="
                /img/bestsellers/bestsellers-3-desk-1x.jpg 1x,
                /img/bestsellers/bestsellers-3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/bestsellers/bestsellers-3-tab-1x.jpg 1x,
                /img/bestsellers/bestsellers-3-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/bestsellers/bestsellers-3-mob-1x.jpg 1x,
                /img/bestsellers/bestsellers-3-mob-2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="/img/bestsellers/bestsellers-3-desk-1x.jpg"
              alt="furniture"
            />
          </picture>
          <p class="bestsellers-text">The industrial accent chair</p>
          <p class="bestsellers-prices">250$</p>
        </li>
        <li class="bestsellers-item bestsellers-4">
          <picture>
            <source
              srcset="
                /img/bestsellers/bestsellers-4-desk-1x.jpg 1x,
                /img/bestsellers/bestsellers-4-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/bestsellers/bestsellers-4-tab-1x.jpg 1x,
                /img/bestsellers/bestsellers-4-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="/img/bestsellers/bestsellers-4-desk-1x.jpg"
              alt="furniture"
            />
          </picture>
          <p class="bestsellers-text">The sleek stand</p>
          <p class="bestsellers-prices">300$</p>
        </li>
        <li class="bestsellers-item bestsellers-5">
          <picture>
            <source
              srcset="
                /img/bestsellers/bestsellers-5-desk-1x.jpg 1x,
                /img/bestsellers/bestsellers-5-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />

            <source
              srcset="
                /img/bestsellers/bestsellers-5-tab-1x.jpg 1x,
                /img/bestsellers/bestsellers-5-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />

            <img
              src="/img/bestsellers/bestsellers-5-desk-1x.jpg"
              alt="furniture"
            />
          </picture>
          <p class="bestsellers-text">The minimalist sofa</p>
          <p class="bestsellers-prices">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
