<header class="header">
  <div class="header-container">
    <a class="header-logo-link" href="./index.html" class="">
      <svg class="header-logo" width="100" height="16">
        <use href="/img/header/svg-sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about-us">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#our-products">Our products</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#prices">Prices</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#bestsellers">Bestsellers</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header-button-mob" type="button" data-menu-open>
      <svg class="header-button-icon" width="32" height="32">
        <use href="/img/header/svg-sprite.svg#icon-menu-open"></use>
      </svg>
    </button>
  </div>
  <div class="mob-menu is-hidden menu-active" data-menu>
    <div class="mob-container">
      <a class="header-logo-link" href="./index.html" class="">
        <svg class="header-logo" width="100" height="16">
          <use href="/img/header/svg-sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="header-button-close" type="button" data-menu-close>
        <svg class="header-close-icon" width="32" height="32">
          <use href="/img/header/svg-sprite.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
    <ul class="header-mob-list">
      <li class="header-mob-item">
        <a class="header-mob-link" href="#about">About us</a>
      </li>
      <li class="header-mob-item">
        <a class="header-mob-link" href="#products">Our products</a>
      </li>
      <li class="header-mob-item">
        <a class="header-mob-link" href="#prices">Prices</a>
      </li>
      <li class="header-mob-item">
        <a class="header-mob-link" href="#bestsellers">Bestsellers</a>
      </li>
      <li class="header-mob-item">
        <a class="header-mob-link" href="#reviews">Reviews</a>
      </li>
      <li class="header-mob-item">
        <a class="header-mob-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>
</header>
