<section id="our-products">
  <div class="ourproducts-main">
    <h2 class="ourproducts-title">our products</h2>
    <ul class="ourpoducts-list list">
      <li class="ourpoducts-item flower">
        <picture class="ourproducts-picture">
          <source
            srcset="
              /img/ourproducts/ourproduct-1-desk-1x.jpg 1x,
              /img/ourproducts/ourproduct-1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              /img/ourproducts/ourproduct-1-tab-1x.jpg 1x,
              /img/ourproducts/ourproduct-1-tab-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/ourproducts/ourproduct-1-mob-1x.jpg 1x,
              /img/ourproducts/ourproduct-1-mob-2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="/img/ourproducts/ourproduct-1-desk-1x.jpg"
            alt="furniture"
            width="344"
          />
        </picture>
        <p class="ourpoducts-text">Minimalist storage solutions</p>
      </li>
      <li class="ourpoducts-item sofa">
        <picture class="ourproducts-picture">
          <source
            srcset="
              /img/ourproducts/ourproduct-2-desk-1x.jpg 1x,
              /img/ourproducts/ourproduct-2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/ourproducts/ourproduct-2-tab-1x.jpg 1x,
              /img/ourproducts/ourproduct-2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <img
            src="/img/ourproducts/ourproduct-2-desk-1x.jpg"
            alt="furniture"
            width="344"
          />
        </picture>
        <p class="ourpoducts-text">Handcrafted minimalist seating</p>
      </li>
      <li class="ourpoducts-item table">
        <picture class="ourproducts-picture">
          <source
            srcset="
              /img/ourproducts/ourproduct-3-desk-1x.jpg 1x,
              /img/ourproducts/ourproduct-3-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/ourproducts/ourproduct-3-desk-1x.jpg"
            alt="furniture"
            width="344"
          />
        </picture>
        <p class="ourpoducts-text">Sleek and simple tables</p>
      </li>
      <li class="ourpoducts-item chair">
        <picture class="ourproducts-picture">
          <source
            srcset="
              /img/ourproducts/ourproduct-4-desk-1x.jpg 1x,
              /img/ourproducts/ourproduct-4-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/ourproducts/ourproduct-4-desk-1x.jpg"
            alt="furniture"
            width="344"
          />
        </picture>
        <p class="ourpoducts-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
