<section class="price" id="prices">
  <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price.</h2>
  <div class="price-div">
    <ul class="price-ul-one">
      <li class="price-li">
        <div class="price-li-wrap">
          <a href="" class="a-price">
            <p class="price-p"><span class="price-span-one">CHAIRS</span></p>
            <p class="price-p-two">
              <span class="price-span-two">from 200$</span>
            </p>
          </a>
        </div>
      </li>
      <li class="price-li">
        <div class="price-li-wrap">
          <a href="" class="a-price">
            <p class="price-p"><span class="price-span-one">TABLES</span></p>
            <p class="price-p-two">
              <span class="price-span-two">from 250$</span>
            </p>
          </a>
        </div>
      </li>
      <li class="price-li">
        <div class="price-li-wrap">
          <a href="" class="a-price">
            <p class="price-p"><span class="price-span-one">DRESSERS</span></p>
            <p class="price-p-two">
              <span class="price-span-two">from 300$</span>
            </p>
          </a>
        </div>
      </li>
      <li class="price-li price-li-li">
        <div class="price-li-wrap">
          <a href="" class="a-price">
            <p class="price-p"><span class="price-span-one">SOFAS</span></p>
            <p class="price-p-two">
              <span class="price-span-two">from 500$</span>
            </p>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
