<section class="creviews">
  <div class="creviews-box">
    <h2 class="creviews-title">Clients reviews</h2>
    <ul class="creviews-list">
      <li class="creviews-item">
        <div class="creviews-img-box">
          <img
            srcset="
              ../img/reviews/Alexandra.jpg    1x,
              ../img/reviews/Alexandra-2x.jpg 2x
            "
            class="creviews-img"
            src="../img/reviews/Alexandra.jpg"
            alt=""
          />
        </div>
        <div class="creviews-name-box">
          <p class="creviews-text-name">Alexandra dream</p>
          <p class="creviews-text-time">1 week ago</p>
        </div>
        <p class="creviews-text-commet">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="creviews-item not">
        <div class="creviews-img-box">
          <img
            srcset="../img/reviews/James.jpg 1x, ../img/reviews/James-2x.jpg 2x"
            class="creviews-img"
            src="../img/reviews/James.jpg"
            alt=""
          />
        </div>
        <div class="creviews-name-box">
          <p class="creviews-text-name">James Williams</p>
          <p class="creviews-text-time">A week ago</p>
        </div>
        <p class="creviews-text-commet">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="creviews-item none">
        <div class="creviews-img-box">
          <img
            srcset="../img/reviews/Emily.jpg 1x, ../img/reviews/Emily-2x.jpg 2x"
            class="creviews-img"
            src="../img/reviews/Emily.jpg"
            alt=""
          />
        </div>
        <div class="creviews-name-box">
          <p class="creviews-text-name">Emily Watson</p>
          <p class="creviews-text-time">3 week ago</p>
        </div>
        <p class="creviews-text-commet">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
