/* -------Form Modal-------- */

.title-modal {
    display: block;
    width: 360px;
    color: var(--navyblue);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .form-modal {
    display: flex;
    flex-direction: column;
  
    border: none;
    max-width: 360px;
    min-height: 336px;
  }
  .label-container {
    margin-bottom: 8px;
  }
  .label-container-comment {
    margin-bottom: 16px;
  }
  .modal-contact-input {
    position: relative;
  }
  .modal-contact-input .icons {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  
    fill: var(--navyblue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-label {
    display: block;
    flex-direction: column;
    margin-bottom: 4px;
    color: var(--lightslate);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .modal-contact {
    display: flex;
    padding-left: 38px;
    padding-right: 16px;
  
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    color: var(--navyblue);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-contact:focus {
    border-color: var(--iris);
  }
  .modal-contact:focus + .icons {
    fill: var(--iris);
  }
  .modal-comment {
    display: flex;
    padding: 8px 16px;
    width: 360px;
    height: 120px;
    flex-shrink: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-comment:focus {
    border-color: var(--iris);
  }
  .checkbox-container {
    display: inline-flex;
    margin-bottom: 24px;
  }
  .modal-label-checkbox {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--lightslate);
  }
  
  .agree-click {
    display: block;
    padding: 8px 16px;
    width: 338px;
    min-height: 40px;
    flex-shrink: 0;
  }
  .checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
  
    margin-right: 8px;
    background-color: transparent;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .agree-click:checked + .modal-label-checkbox .checkbox {
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
  }
  
  .policy {
    color: var(--iris);
    text-decoration-line: underline;
  }
  .modal-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--ocean);
  }
  